#container-card {
  width: 305px;
  height: 230px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  margin-bottom: 16px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.097543);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

#card-subcontainer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 253px;
  height: 33%;
  margin-top: 17px;
  margin-bottom: 10px;
}

.div-flex {
  display: flex;
}

.div-titles {
  font-size: 16px;
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

#state {
  display: flex;
  align-items: center;
}
#state > p {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(177, 176, 178, 1);
}

#green-ball {
  width: 8.57px;
  height: 8px;
  background-color: rgba(21, 184, 161, 1);
  border-radius: 50px;
}

.div-titles > p{
  font-weight: bold;
}

#robot-id {
  color: rgba(177, 176, 178, 1);
  font-size: 12px;
  margin-bottom: 5px;
}

.p-infos {
  color: rgba(177, 176, 178, 1);
  border: 1px solid #E3E2E3;
  border-radius: 2px;
  margin: 2.5px;
  padding: 6px;
  font-size: 12px;
}

#card-subcontainer2 {
  width: 253px;
  height: 64px;
  display: flex;
  align-items: center;
  border: 1px solid #E3E2E3;
  border-radius: 2px;
}

#day {
  font-weight: 700;
  font-size: 32px;
  color: rgba(95, 93, 96, 1);
  margin-left: 16px;
  margin-right: 15px;
}

#type-action {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#asset {
  font-weight: 700;
  font-size: 16px;
  color: rgba(149, 154, 162, 1);
}

#type-action-p {
  font-size: 12px;
}

#profit-container {
  margin-left: 15px;
}

#profit-container> p {
  font-size: 12px;
  color: rgba(177, 176, 178, 1);
}

#profit {
  display: flex;
  align-items: center;
}

#profit > p {
  margin-left: 5px;
  font-size: 14px;
}

#arrow {
  font-size: 13px;
}

#card-subcontainer3 {
  margin-top: 10px;
  width: 253px;
  display: flex;
  justify-content: space-between;
}

#daily-balance {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#daily-balance > p {
  font-size: 20px;
  color: rgba(255, 69, 1, 1);
  font-weight: 700;
}

#daily-balance-title {
  color: rgba(136, 134, 137, 1);
  font-size: 12px;
  display: flex;
}

#arrow-down {
  margin-left: 5px;
  font-size: 12px;
}

#day-trades {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#day-trades-title {
  font-size: 12px;
  color: rgba(136, 134, 137, 1);
}

#day-trades-num {
  font-size: 20px;
  font-weight: 700;
}

.green-color {
  color: rgba(0, 179, 157, 1);
}

.red-color {
  color: rgba(255, 69, 1, 1);
}